{% extends "base.twig" %}
{% block title %} - Error page{% endblock %}
{% block hero_title %}Error{% endblock %}
{% block hero_description %}Oops! Something went wrong...{% endblock %}
{% block  greetings%}<h1>There was an error</h1>{% endblock%}
{% block content %}
{% endblock %}