<footer>
    <div class="py-2 bg-dark text-white">
        <div class="row">
            <div class="col-md-12 mt-2 text-center">
                <p class="text-muted">&copy; Copyright {{ year }} Daniil Pavlenko - All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
