{% extends "base.twig" %}
{% block title %} - Home page{% endblock %}
{% block  greetings%}<h1>Welcome to Quizzerland!</h1>{% endblock%}
{% block content %}{% include "index_content.twig" %}{% endblock %}